/* GENERAL APP STYLES */
body {
	background-color: #000918;
	color: #ccc;
}

h1 {
	font-family: 'Rock Salt', cursive;
	margin: .6em auto .25em;
	text-align: center;
	letter-spacing: .45em;
}

.gameContainer {
	width: 320px;
	margin: 0 auto;
}
